%h3.table-title
  = "#{@course.name.capitalize}"
  %span= "(#{@course.subject.name.downcase})"

- unless @course.students.empty?
  %h5 Students:
  %table.bordered-table
    %thead
      %th{ width: 40 } #
      %th Name
    %tbody
    - @course.students.each_with_index do |s, i|
      %tr
        %th= i + 1
        %td= s.name

- else
  No students signed up for that course.