%form.well{ action: '/l/courses', method: 'post' }
  %div.clearfix.inline-input
    %label{ for: 'name' } Title:
    %div.input
      %input{ name: "name", type: "text", value: params['name'] }/

  %div.clearfix.inline-input
    %label{ for: 'subject_id' } Subject:
    %div.input
      %select{ name: "subject_id" }
        - @subjects.each do |subject|
          %option{ selected: subject.id == params['subject_id'], value: subject.id }= subject.name

  %input.btn.primary{ type: "submit", value: "Create" }/

- unless @courses.empty?
  %table.bordered-table
    %thead
      %th #
      %th{ width: 320 } Title
      %th{ width: 300 } Subject
      %th{ width: 80 } Students
      %th{ width: 100 } Actions
    %tbody
    - @courses.each_with_index do |c, i|
      %tr
        %th= i + 1
        %td
          %a{ href: "/l/course/#{c.id}" }= c.name
        %td= c.subject.name
        %td= c.students_count
        %td
          %button.btn.delete-record{ 'data-record-id' => c.id, 'data-delete-path' => '/l/course' } Delete

- else
  No courses.
