- unless @courses.empty?
  %table.bordered-table
    %thead
      %th{ width: 20 } #
      %th{ width: 300 } Title
      %th{ width: 200 } Subject
      %th{ width: 200 } Lecturer
      %th{ width: 60 } Students
    %tbody
    - @courses.each_with_index do |c, i|
      %tr
        %th= i + 1
        %td= c.name
        %td= c.subject.name
        %td= c.lecturer.name
        %td= c.students_count

- else
  No courses.
